<% include ../partials/header %>

<!-- <div class="card mx-auto mt-3" style="width: 22rem;"> -->
<div class="rounds-total">
  <div class="card-header">
      <h2>After <%= userAvg.numRounds %> rounds </h2>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Scoring Average: <span class="float-right"><%= userAvg.score %></span></li>
    <li class="list-group-item">Fairway Average: <span class="float-right"><%= userAvg.fairways %></span></li>
    <li class="list-group-item">Green Average: <span class="float-right"><%= userAvg.greens %></span></li>
    <li class="list-group-item">Putt Average: <span class="float-right"><%= userAvg.putts %></span></li>
  </ul>
</div>

<% include ../partials/footer %>


