<% include ../partials/header %>
<div class="container">
  <h1 class="text-center mb-4">Round: <%= stat._id %></h1>
  <div class="col d-flex justify-content-center">
    <div class="card w-75 text-black bg-light mb-3">
      <div class="card-header">Round: <%= stat._id %></div>
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h4 class="card-title">Score: <%= stat.score %></h4>
          <p class="card-text">
            Completed: <%= moment(stat.created).format('L') %>
          </p>
        </div>
        <div class="d-flex justify-content-around mb-4">
          <h5 class="card-text">
            Fairways: <%= stat.fairways %>
          </h5>
          <h5 class="card-text">
            Greens: <%= stat.greens %>
          </h5>
          <h5 class="card-text">
            Putts: <%= stat.putts %>
          </h5>
        </div>
        <div class="d-flex flex-row">
          <a
            id="edit"
            class="btn btn-dark mr-3"
            href="/golfstats/<%= stat._id %>/edit"
            >Edit</a
          >
          <form
            action="/golfstats/<%= stat._id %>?_method=Delete"
            method="POST"
          >
            <button class="btn btn-dark">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col d-flex justify-content-center">
    <div class="card w-75 text-dark bg-light mb-3">
      <div class="d-flex flex-row ml-2 mt-2">
        <a class="btn btn-dark" href="/golfstats/<%= stat._id %>/comments/new"
          >Add Comment</a
        >
      </div>

      <div class="card-body">
        <% stat.comments.forEach(function(comment) { %>
        <p>
          <strong><%= comment.author.username %></strong> - <%= comment.text %>
        </p>
        <% }) %>
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer %>
